[submodule "vendor/scripts"]
	path = vendor/scripts
	url = git@github.com:Univers42/scripts.git
	ignore = untracked
[submodule "src/shared/notion-database-sys"]
	path = src/shared/notion-database-sys
	url = git@github.com:Univers42/notion-database-sys.git
[submodule "packages/markdown-engine"]
	path = packages/markdown-engine
	url = git@github.com:Univers42/markdown-engine.git
	branch = main
[submodule "packages/outbox-ledger"]
	path = packages/outbox-ledger
	url = git@github.com:Univers42/outbox-ledger.git
	branch = main
[submodule "packages/perf-probe"]
	path = packages/perf-probe
	url = git@github.com:Univers42/perf-probe.git
	branch = main
[submodule "packages/feature-flags"]
	path = packages/feature-flags
	url = git@github.com:Univers42/feature-flags.git
	branch = main
[submodule "packages/http-gate"]
	path = packages/http-gate
	url = git@github.com:Univers42/http-gate.git
	branch = main
[submodule "packages/osionos-ui"]
	path = packages/osionos-ui
	url = git@github.com:Univers42/osionos-ui.git
	branch = main
