[submodule "vendor/scripts"]
	path = vendor/scripts
	url = git@github.com:Univers42/scripts.git
	ignore = untracked
[submodule "src/shared/notion-database-sys"]
	path = src/shared/notion-database-sys
	url = git@github.com:Univers42/notion-database-sys.git
[submodule "packages/markdown-engine"]
	path = packages/markdown-engine
	url = git@github.com:Univers42/markdown-engine.git
	branch = main
