// src/app/styles/base/tokens/_typography.scss
$font-family-sans: var(--osio-font-family-sans);
$font-family-mono: var(--osio-font-family-mono);

$font-weight-normal: var(--osio-font-weight-normal);
$font-weight-medium: var(--osio-font-weight-medium);
$font-weight-semibold: var(--osio-font-weight-semibold);
$font-weight-bold: var(--osio-font-weight-bold);

$font-size-xs: var(--osio-font-size-xs);
$font-size-sm: var(--osio-font-size-sm);
$font-size-base: var(--osio-font-size-base);
$font-size-lg: var(--osio-font-size-lg);
$font-size-xl: var(--osio-font-size-xl);
$font-size-2xl: var(--osio-font-size-2xl);
$font-size-3xl: var(--osio-font-size-3xl);
